@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;500&family=Podkova:wght@400&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
a {
  font-family: "Podkova", serif;
  font-size: 36px;
}

h2 {
  font-family: "PodKova", serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

p,
li {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.menu-background {
  background-image: url("/menu-bg.png") !important;
}
@media screen and (min-width: 1024px) {
  .menu-background {
    background-image: url("/menu-bg-desktop.png") !important;
  }
}

#contact {
  background-image: url("/event-bg-mobile.png") !important;
}
@media screen and (min-width: 1024px) {
  #contact {
    background-image: url("/event-bg.png") !important;
  }
}